
/*a.tag {
	font-family:"Fira Code";
	background-color:black;
	border:white 2px solid;
	color:white;
}
.page-ref {
	font-family:"Fira Code";
}*/

hr {border-color:white;}

samp {
	font-family:'Fira Code','Fira Sans','Courier New','monospace';
}
#root {
	font-weight:bold;
}
#root div {
font-family:"Noto Sans Thai";
font-color:green;
--ls-primary-background-color: #55aa55;
--ls-secondary-background-color: #5555aa;
}
