
/*a.tag {
	font-family:"Fira Code";
	background-color:black;
	border:white 2px solid;
	color:white;
}
.page-ref {
	font-family:"Fira Code";
}*/

/*hr {border-color:white;}

samp {
	font-family:'Fira Code','Fira Sans','Courier New','monospace';
}
#root {
	font-weight:bold;
	font-family:"Noto Sans Thai","Noto Sans";
}
#root div {
	font-family:"Noto Sans Thai","Noto Sans";
}
body {
	font-family:'Noto Sans';
}
body div {
	font-family:'Noto Sans';
}*/
