

hr {border-color:white;}

samp, code, pre, .code-editor, .CodeMirror, pre.CodeMirror-line {
	font-family: "Matemasie";
}
body {
	font-family:"Matemasie","TH Sarabun New";
}
body div {
	font-family:"Matemasie","TH Sarabun New";
}
