hr {border-color:white;}

samp, code, pre, .code-editor, .CodeMirror, pre.CodeMirror-line {
	font-family: "Fira Code","Fira Sans","Noto Sans","Noto Sans Thai","",'Courier New', Courier, monospace;
}
body {
	font-family:"Matemasie","TH Sarabun New";
}
body div {
	font-family:"Matemasie","TH Sarabun New";
}
