@font-face {
	font-family: "NotoFont";
	src: url(./font/NotoSansThai.ttf);
}
@font-face {
	font-family: "CodeFont";
	src: url(./font/FiraCode.ttf);
}

hr {border-color:white;}

samp, code, pre, .code-editor, .CodeMirror, pre.CodeMirror-line {
	font-family:'','CodeFont','Fira Sans','Courier New','Noto Sans Thai','monospace' !important;
}
#root {
	font-weight:bold;
	font-family:"NotoFont","Noto Sans";
}
#root div {
	font-family:"NotoFont","Noto Sans";
}
