hr {border-color:white;}

samp, code, pre, .code-editor, .CodeMirror, pre.CodeMirror-line {
	font-family: "Fira Code","Fira Sans",'Courier New', Courier, monospace,"Noto Sans","Noto Sans Thai" !important;
	font-weight: 450;
}
body, body div {
	font-family:"Noto Sans","Noto Sans Thai","TH Sarabun New";
	font-weight: 500;
}
div {
	
}
