@font-face {
	font-family: "NotoFont";
	src: url("./font/NotoSansThai.ttf");
}
@font-face {
	font-family: "CodeFont";
	src: url("./font/FiraCode.ttf");
}

hr {border-color:white;}

samp, code, pre, .code-editor, .CodeMirror, pre.CodeMirror-line {
	font-family: "CodeFont";
}
body {
	font-weight:bold;
	font-family:"NotoFont","TH Sarabun New";
}
body div {
	font-family:"NotoFont","TH Sarabun New";
}
